:root{
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;
   --theme-color: #101010;
   --theme-text-color: white;
   --theme-sidebar-color: rgb(70, 70, 70);
   --card-color: black;
   --window-color: rgb(39, 39, 39);
   
}
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&family=Raleway:wght@700&display=swap');
.header{
   position: fixed;
   width: 100%;
   height: 15vh;
   background-color: var(--theme-color);
   text-align: left;
   .theme-container{
      position: absolute;
      right: 2%;
      margin: 50px 0;
   }
   #dark{
      display: none;
   }
   .light{
      display: block;
   }
   
   .heading{
      margin: 4.5vh;
      position: absolute;
      color: var(--theme-text-color);
   }
  
   .login-bt1{
      background-color: white;
      width: 150px;
      margin: 4.5vh 0;
      height: 50px;
      position: absolute;
      font-size: 16pt;
      right: 10%;
      border-radius: 20px;
      color: black;
      display: table-cell;
      vertical-align: middle;
      align-content: center;
      }
   
}
.sidebar{
   height: 100vh;
   width: 20%;
   position: fixed;
   z-index: -1;
   background-color: var(--theme-sidebar-color);
   color: var(--theme-text-color);
   .sidebar-wrapper{
      margin: 20vh 10%;
      border: red solid 2px;
      position:absolute;
      width: 80%;
      height: 80vh;
   }
}
.main{
   .main-container{
      margin-top: 15vh;
      margin-left: 20vw;
      
      width: 80%;
      height: 85vh;
      display: grid;
      position: absolute;
      .card-wrapper{
         grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
         display: grid;
         width: 90%;
         height: 100%;
         margin-top: 2rem;
         margin-left: 4rem;
         position: absolute;
            .cardTemplate{
               height: 350px;
               border-radius: 20px;
               position: relative;
               display: grid;
               border: 2px #ff0000 solid;
               width: 300px;
               .readButtons{
                  width: 125px;
                  justify-items: center;;
                  vertical-align: middle;
                  height: 75px;
                  line-height: 0;
                  font-size: 80px;
                  text-align: center;
                  position: relative;
                  top: 250px;
                  
                 
                  border-radius: 20px;
                  
                  span{
                     bottom: 10px;
                     position: relative;
                  }
               }
               
               .readPage {
                  background-color: #19d28f;
                  left: 20px;
                  
                  
               }
               .unreadPage {
                  
                  background-color: #ff0000;
                  
                  left: 20px;
               }
            }
            .addNew{ 
               display: grid;
               padding: 40px;
               width: 12rem;
               height: 16rem;
               position: relative;
               border: black 2px solid;
               border-radius: 20px;
               margin: 5rem 4rem;
               align-items: center;
               justify-content: center;
               font-size: 8rem; // =128px
               vertical-align: auto;
               box-sizing: border-box;
               cursor: pointer;
               span{
                     line-height: 128px;
                     height: calc(40px + 122px); // for the paddings
                  }
             }
      }
      
   }
}
.newBookWindow{
   display: none;
   position: fixed;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);   
   z-index: 1;
   .newBook-wrapper{
      z-index: 0;
      color: var(--theme-text-color);
      box-sizing: border-box;
      background-color: var(--window-color);
      padding: 4rem 5rem;
      border-radius: 20px;
      display: table;
      .newbook-inputs {
         label{
            font-style: italic;
            font-size: 20px;
         }
        
         .checkboxCustom{
            #read{
               height: 50px;
               width: 90px;
               -webkit-appearance: none;
               outline: none;
               cursor: pointer;
               border-radius: 25px;
               position: absolute;
               outline:none;
               margin-top: 10px;
               background-color: rgb(120, 0, 0);
               &:before{
                  content: ""; 
                  position:absolute;
                  height: 40px;
                  width: 40px;
                  background-color: #d5d5d5;
                  border-radius: 25px;
                  left: 5px;
                  top: 5px;
                  transition: 0.3s ease-in
               }
               &:after{
                  content: "Unread";
                  font-family: 'Raleway', sans-serif;
                  position: absolute;
                  color: var(--theme-text-color);
                  
                  font-size: 40px;
                  left: 100px;
                  bottom: -4.5px;
                  
                  letter-spacing: 1px;
                  transition: 0.2s ease-in;
               }
               &:checked{
                  transition: background-color 0.2s;
                  background-color: #19d28f;
                  &:before{
                     font-size: 40px;
                     left: 45px;
                     transition: left 0.2s ease-out;
                  }
                  &:after{
                     color: var(--theme-text-color);
                     font-family: 'Raleway', sans-serif;
                     content: "Read";
                  }
               }
               
               } 
             
            .checkStatus {
               width: 36px;
               z-index: 0;
               cursor: pointer;
               height: 36px;
               position: relative;
               #readTrue{
                  display: none;
               }
               #readFalse{
                  display: block;
               }
            }
         }
         .bookInput{
            border-radius: 20px;
            margin: 10px 0;
            position: relative;
            width: 30rem;
             padding: 5px 15px;  
         
         }
      }
      
      .bookbtn{
         margin-top: 5rem;
         border: 2px solid black;
         border-radius: 20px;
         padding: 10px 20px;
         position: relative;
         
     
      }
     .cancel{
            background-color: rgb(182, 74, 74);
            left: 60%;
         }
         .addBook{
            background-color: rgb(0, 213, 0);
            bottom: 0%;
         
         }
      
   }

}