@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&family=Raleway:wght@700&display=swap");
:root {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  --theme-color: #101010;
  --theme-text-color: white;
  --theme-sidebar-color: rgb(70, 70, 70);
  --card-color: black;
  --window-color: rgb(39, 39, 39);
}

.header {
  position: fixed;
  width: 100%;
  height: 15vh;
  background-color: var(--theme-color);
  text-align: left;
}
.header .theme-container {
  position: absolute;
  right: 2%;
  margin: 50px 0;
}
.header #dark {
  display: none;
}
.header .light {
  display: block;
}
.header .heading {
  margin: 4.5vh;
  position: absolute;
  color: var(--theme-text-color);
}
.header .login-bt1 {
  background-color: white;
  width: 150px;
  margin: 4.5vh 0;
  height: 50px;
  position: absolute;
  font-size: 16pt;
  right: 10%;
  border-radius: 20px;
  color: black;
  display: table-cell;
  vertical-align: middle;
  align-content: center;
}

.sidebar {
  height: 100vh;
  width: 20%;
  position: fixed;
  z-index: -1;
  background-color: var(--theme-sidebar-color);
  color: var(--theme-text-color);
}
.sidebar .sidebar-wrapper {
  margin: 20vh 10%;
  position: absolute;
  width: 80%;
  height: 80vh;
}

main .main-container {
  margin-top: 15vh;
  margin-left: 19.5vw;
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  position: absolute;
}
main .main-container .card-wrapper {
  grid-template-columns: repeat(auto-fill, 450px);
  grid-template-rows: repeat(auto-fill, 390px);
  justify-content: space-between;
  display: grid;
  width: 95%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 4rem;
  position: absolute;
}
main .main-container .card-wrapper .cardTemplate {
  height: 350px;
  margin-top: 2rem;
  border-radius: 20px;
  position: relative;
  display: grid;
  border: 2px #ff0000 solid;
  width: 400px;
}
main .main-container .card-wrapper .addNew {
  display: grid;
  padding: 40px;
  width: 12rem;
  height: 16rem;
  position: relative;
  border: black 2px solid;
  border-radius: 20px;
  margin: 5rem 4rem;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  vertical-align: auto;
  box-sizing: border-box;
  cursor: pointer;
}
main .main-container .card-wrapper .addNew span {
  line-height: 128px;
  height: 162px;
}

.newBookWindow {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.newBookWindow .newBook-wrapper {
  z-index: 0;
  color: var(--theme-text-color);
  box-sizing: border-box;
  background-color: var(--window-color);
  padding: 4rem 5rem;
  border-radius: 20px;
  display: table;
}
.newBookWindow .newBook-wrapper .newbook-inputs label {
  font-style: italic;
  font-size: 20px;
}
.newBookWindow .newBook-wrapper .newbook-inputs .checkboxCustom #read {
  height: 50px;
  width: 90px;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  position: absolute;
  outline: none;
  margin-top: 10px;
  background-color: rgb(120, 0, 0);
}
.newBookWindow .newBook-wrapper .newbook-inputs .checkboxCustom #read:before {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #d5d5d5;
  border-radius: 25px;
  left: 5px;
  top: 5px;
  transition: 0.3s ease-in;
}
.newBookWindow .newBook-wrapper .newbook-inputs .checkboxCustom #read:after {
  content: "Unread";
  font-family: "Raleway", sans-serif;
  position: absolute;
  color: var(--theme-text-color);
  font-size: 40px;
  left: 100px;
  bottom: -4.5px;
  letter-spacing: 1px;
  transition: 0.2s ease-in;
}
.newBookWindow .newBook-wrapper .newbook-inputs .checkboxCustom #read:checked {
  transition: background-color 0.2s;
  background-color: #19d28f;
}
.newBookWindow .newBook-wrapper .newbook-inputs .checkboxCustom #read:checked:before {
  font-size: 40px;
  left: 45px;
  transition: left 0.2s ease-out;
}
.newBookWindow .newBook-wrapper .newbook-inputs .checkboxCustom #read:checked:after {
  color: var(--theme-text-color);
  font-family: "Raleway", sans-serif;
  content: "Read";
}
.newBookWindow .newBook-wrapper .newbook-inputs .checkboxCustom .checkStatus {
  width: 36px;
  z-index: 0;
  cursor: pointer;
  height: 36px;
  position: relative;
}
.newBookWindow .newBook-wrapper .newbook-inputs .checkboxCustom .checkStatus #readTrue {
  display: none;
}
.newBookWindow .newBook-wrapper .newbook-inputs .checkboxCustom .checkStatus #readFalse {
  display: block;
}
.newBookWindow .newBook-wrapper .newbook-inputs .bookInput {
  border-radius: 20px;
  margin: 10px 0;
  position: relative;
  width: 30rem;
  padding: 5px 15px;
}
.newBookWindow .newBook-wrapper .bookbtn {
  margin-top: 5rem;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  position: relative;
}
.newBookWindow .newBook-wrapper .cancel {
  background-color: rgb(182, 74, 74);
  left: 60%;
}
.newBookWindow .newBook-wrapper .addBook {
  background-color: rgb(0, 213, 0);
  bottom: 0%;
}/*# sourceMappingURL=styles.css.map */